<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Weather</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="basscss.min.css" />

</head>
<body class="" ng-controller="WeatherCtrl">

  <p ng-show="loading" class="">Loading...</p>
  
  <div ng-if="forecast">
    <header class="p2">
      <h1>{{ forecast.currently.temperature | number:0 }}&deg;</h1>
      <h2 class="">{{ forecast.currently.summary }} <span class="">{{ forecast.currently.precipProbability | number:0 }}%</span></h2>
      <p>{{ forecast.minutely.summary }}</p>
      <p>{{ forecast.hourly.summary }}</p>
    </header>
    <ul class="p2">
      <li ng-repeat="hour in forecast.hourly.data | limitTo:12" class="">
        <div class="small gray">{{ hour.time*1000 | date:'ha' }}</div>
        <h2>{{ hour.temperature | number:0 }}&deg;</h2>
        <p class="">{{ hour.summary }} <span ng-show="hour.precipProbability>1" class=""> {{ hour.precipProbability | number:0 }}%</span></p>
      </li>
    </ul>
    <ul class="p2">
      <li ng-repeat="day in forecast.daily.data" class="">
        <div class="">
          <span class="">{{ day.time*1000 | date:'EEE' }} </span>
          <span class="">{{ day.temperatureMax | number:0 }}&deg;</span>
          <span class="">{{ day.temperatureMin | number:0 }}&deg; </span>
        </div>
        <div class="">
          <span class="">{{ day.summary }}</span>
          <span ng-show="day.precipProbability>1" class=""> {{ day.precipProbability | number:0 }}%</span>
        </div>
      </li>
    </ul>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script>
    'use strict';

    function WeatherCtrl($scope, $http) {
      
      $scope.loading = true;

      navigator.geolocation.getCurrentPosition(function(position) {
        $scope.$apply(function() {
          $http.jsonp('https://api.forecast.io/forecast/af26fc09b2d522c2b5e8013cd6a1a45f/' + position.coords.latitude + ',' + position.coords.longitude + '?callback=JSON_CALLBACK').
          error(function(error){ console.error('oh noes') }).
          success(function(forecast){
            $scope.forecast = forecast;
            $scope.loading = false;
          });
        });
      });

    };
  </script>

</body>
</html>
